.row
  .large-3.columns.spaceless{:style=>"background-color:#E8DDCB;"}
    .row.spaceless
      #profile-logo.large-12.columns.spaceless
        %h5=@user.username
    .row.spaceless
      .large-6.columns.spaceless
        #follow.button-box
          follow
      .large-6.columns.spaceless
        #message.button-box
          message
    %div{:style=>"height:10px;"}
    .row.spaceless
      .large-9.columns.lighter-blue
        total points
      .large-3.columns.light-blue
        917

  .large-9.columns
    %a{"data-reveal-id" => "new-post", :href => "#"} post a video
    %br
    -@posts.each do |post|
      -case post.resource_type
        -when "video"
          =render :partial=>'posts/video', :locals => {post:post}

#new-post.reveal-modal{"data-reveal" => ""}
  %h3 post a video
  %p Just a quick question first:  Would you like to proceed as a guest, or login to your FLCF account.  Using a FLCF account will allow you to save and reuse your offsets.
  =form_for Video.new do |f|
    =f.text_area :description
    =f.file_field :video
    =f.submit "submit", :class => "button"

  %a.close-reveal-modal ×
