.row{:style=>"background-color:#f6f1ea; margin-top: 7px;"}
  .large-12.columns
    .row{:style=>"padding: 6px;"}
      .large-3.columns{:style=>"padding: 0px;"}
        %button.home
          overview
          %i.fi-arrow-right
        %button.home
          how it works
          %i.fi-arrow-right
      .large-9.columns
        %p Ripples is a game designed to make organizing and recruiting for positive change more fun and effective.  Create an inspiring profile and then use that content to recruit others to your causes.
.row
  .large-6.columns
    %h4 top posts
    #top-posts
      =render @top_posts, :as=>:post
  .large-3.columns

    %h4 top users
    #top-users
      =render @top_users
  .large-3.columns

    %h4 top tags
    #top-tags
      =render @top_users
