/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

button.home {
  width: 100%;
  margin: 1px;
  text-align: right;
  i {
    margin-left: 6px;
  }
  background-color:#033649;
}

.title {
  background-color: #036564;
  height: 50px;

  i {
    display:inline;
    font-size: 35px;
    color: #021533;

  }
  h2 {
    display:inline;
    margin: 0 0 0 15px;
    line-height: 45px;
    padding:0px;
    color: #E7DDCB;
    font-size: 32px;
    vertical-align: top;
  }

}

.login-button {
  background-color: #033649;
  min-height: 50px;
  font-size: 23px;
  line-height:45px;
  text-align:center;
  a {
    color: #E7DDCB;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.login-button:hover {
  background-color: #c3f;
}