/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';
body {
  font-family: "Gill Sans";
}
.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

button.home {
  width: 100%;
  margin: 1px;
  text-align: right;
  i {
    margin-left: 6px;
  }
  background-color:#033649;
}

.title {
  background-color: #036564;
  height: 50px;

  i {
    display:inline;
    font-size: 35px;
    color: #021533;

  }
  h2 {
    display:inline;
    margin: 0 0 0 15px;
    line-height: 45px;
    padding:0px;
    color: #E7DDCB;
    font-size: 32px;
    vertical-align: top;
  }

}

.login-button {
  background-color: #033649;
  min-height: 50px;
  font-size: 23px;
  line-height:45px;
  text-align:center;
  a {
    color: #E7DDCB;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.login-button:hover {
  background-color: #c3f;
}

/* user css */

#profile-logo {
  background-color: #021533;
  h5 {
    text-align:center;
    vertical-align:bottom;
    color: #E7DDCB;
  }
  min-height: 80px;
}
#message, #follow {
  background-color: #ccc;
  text-align:center;
  min-height: 30px;
  font-weight: bold;
  color: #E7DDCB;
  border: 1px solid white;
}
#message {
  background-color:#033649;
}
#follow {
  background-color:#036564;
}
.button-box {
  padding: 0px;
  background-color: #f0f;
}
.button-box:hover {
  background-color: #c0c !important;
}
.spaceless {
  padding: 0px !important;
  margin: 0px !important;
}
.light-blue {
  background-color:#555d6a;
  color: #E7DDCB;
}
.lighter-blue {
  background-color:#202f47;
  color: #E7DDCB;
}
